body{
font-family: sans-serif;
background-color: antiquewhite;
}


.rood{
    background-color: red;
}

h1{
    color: green;
    margin-left: 100px;
}

img{
    max-width: 100%;
    background-color: aqua;
}

.inspring{
    margin-left: 40px;
}