body{
font-family: sans-serif;
background-color: rgb(127, 112, 83);
}


.rood{
    background-color: rgb(183, 65, 14);
}

h1{
    color: rgb(131, 121, 88);
    margin-left: 100px;
}

img{
    max-width: 100%;
}

.inspring{
    margin-left: 40px;
}