body{
font-family: sans-serif;
background-color: #53d2dc;
}


.achtergrond{
    background-color: #3196e2;
}

h1{
    color: #ff826c;
    margin-left: 100px;
}

h2{
    color: #ffc05f;
    margin: auto;
}

img{
    max-width: 100%;
}

.inspring{
    margin-left: 40px;
}

